$base64Codes: (
	'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H',
	'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P',
	'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X',
	'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f',
	'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
	'o', 'p', 'q', 'r', 's', 't', 'u', 'v',
	'w', 'x', 'y', 'z', '0', '1', '2', '3',
	'4', '5', '6', '7', '8', '9', '+', '/',
	'='
);

$indexMap: (
	"000000": 0,
	"000001": 1,
	"000010": 2,
	"000011": 3,
	"000100": 4,
	"000101": 5,
	"000110": 6,
	"000111": 7,
	"001000": 8,
	"001001": 9,
	"001010": 10,
	"001011": 11,
	"001100": 12,
	"001101": 13,
	"001110": 14,
	"001111": 15,
	"010000": 16,
	"010001": 17,
	"010010": 18,
	"010011": 19,
	"010100": 20,
	"010101": 21,
	"010110": 22,
	"010111": 23,
	"011000": 24,
	"011001": 25,
	"011010": 26,
	"011011": 27,
	"011100": 28,
	"011101": 29,
	"011110": 30,
	"011111": 31,
	"100000": 32,
	"100001": 33,
	"100010": 34,
	"100011": 35,
	"100100": 36,
	"100101": 37,
	"100110": 38,
	"100111": 39,
	"101000": 40,
	"101001": 41,
	"101010": 42,
	"101011": 43,
	"101100": 44,
	"101101": 45,
	"101110": 46,
	"101111": 47,
	"110000": 48,
	"110001": 49,
	"110010": 50,
	"110011": 51,
	"110100": 52,
	"110101": 53,
	"110110": 54,
	"110111": 55,
	"111000": 56,
	"111001": 57,
	"111010": 58,
	"111011": 59,
	"111100": 60,
	"111101": 61,
	"111110": 62,
	"111111": 63,
	"======": 64
);

// 通过索引返回base64编码
@function getBase64Code ($index: 0) {
	// index + 1 是因为 sass 的索引是由1开始而不是0
	$index: $index + 1;
	$code: '';
	@if($index > 0 and $index <= 65) {
		// base64 编码只有64个 加上 = 有65个
		$code: nth($base64Codes, $index);
	}
	@return $code;
};

// 将svg字符串转换成base64数据
@function svgToBase64 ($svg: '') {
	$base64: 'data:image/svg+xml;base64,';
	$str_len: str_length($svg);
	$remainder: $str_len % 3;
	// 源码切片 -- 3个字符为一组
	$i: 1;
	@while $i <= $str_len - $remainder {
		$base64: $base64 + translate3asciiTo4base64(str_slice($svg, $i, $i), str_slice($svg, $i + 1, $i + 1), str_slice($svg, $i + 2, $i + 2));
		$i: $i + 3;
	}
	// 余下的1~2个字符
	@if($remainder > 0) {
		$remainderChar1: str_slice($svg, $i, $i);
		$remainderChar2: '';
		$remainderChar3: '';
		$i: $i + 1;
		@if($i <= $str_len) {
			$remainderChar2: str_slice($svg, $i, $i);
			$i: $i + 1;
			@if($i <= $str_len) {
				$remainderChar3: str_slice($svg, $i, $i);
			}
			@else {
				$remainderChar3: '-3';
			}
		}
		@else {
			$remainderChar2: '-1';
			$remainderChar3: '-2';
		}
		$base64: $base64 + translate3asciiTo4base64($remainderChar1, $remainderChar2, $remainderChar3);
	}
	@return $base64;
};
// ascii码列表 -- 8位二进制
$asciiMap: (
	"	": "00001001",
	" ": "00100000",
	"!": "00100001",
	"\"": "00100010",
	"#": "00100011",
	"$": "00100100",
	"%": "00100101",
	"&": "00100110",
	"'": "00100111",
	"(": "00101000",
	")": "00101001",
	"*": "00101010",
	"+": "00101011",
	",": "00101100",
	"-": "00101101",
	".": "00101110",
	"/": "00101111",
	"0": "00110000",
	"1": "00110001",
	"2": "00110010",
	"3": "00110011",
	"4": "00110100",
	"5": "00110101",
	"6": "00110110",
	"7": "00110111",
	"8": "00111000",
	"9": "00111001",
	":": "00111010",
	";": "00111011",
	"<": "00111100",
	"=": "00111101",
	">": "00111110",
	"?": "00111111",
	"@": "01000000",
	"A": "01000001",
	"B": "01000010",
	"C": "01000011",
	"D": "01000100",
	"E": "01000101",
	"F": "01000110",
	"G": "01000111",
	"H": "01001000",
	"I": "01001001",
	"J": "01001010",
	"K": "01001011",
	"L": "01001100",
	"M": "01001101",
	"N": "01001110",
	"O": "01001111",
	"P": "01010000",
	"Q": "01010001",
	"R": "01010010",
	"S": "01010011",
	"T": "01010100",
	"U": "01010101",
	"V": "01010110",
	"W": "01010111",
	"X": "01011000",
	"Y": "01011001",
	"Z": "01011010",
	"[": "01011011",
	"\\": "01011100",
	"]": "01011101",
	"^": "01011110",
	"_": "01011111",
	"`": "01100000",
	"a": "01100001",
	"b": "01100010",
	"c": "01100011",
	"d": "01100100",
	"e": "01100101",
	"f": "01100110",
	"g": "01100111",
	"h": "01101000",
	"i": "01101001",
	"j": "01101010",
	"k": "01101011",
	"l": "01101100",
	"m": "01101101",
	"n": "01101110",
	"o": "01101111",
	"p": "01110000",
	"q": "01110001",
	"r": "01110010",
	"s": "01110011",
	"t": "01110100",
	"u": "01110101",
	"v": "01110110",
	"w": "01110111",
	"x": "01111000",
	"y": "01111001",
	"z": "01111010",
	"{": "01111011",
	"|": "01111100",
	"}": "01111101",
	"~": "01111110"
);

// ascii码转8位二进制
@function asciiToBin ($char: "") {
	// 从 32 到 127，不过 127 是 del。所以取值是 32~126
	// $char 的3个特殊值：-1， -2， -3
	// -1,-2 表示有两个空字符
	// -3 表示一个空字符
	@if("-1" == $char) {
		@return "0000===="; //空字符返回-表示空
	}
	@else if("-2" == $char) {
		@return "========";
	}
	@else if("-3" == $char) {
		@return "00======";
	}
	@else {
		@return map-get($asciiMap, $char);
	}
}

// 将3个ascii字符转成4个base64码
@function translate3asciiTo4base64($char1, $char2, $char3) {
	$binGroup: asciiToBin($char1) + asciiToBin($char2) + asciiToBin($char3);
	// 分拆成4份
	@return getBase64Code(getBase64Index(str_slice($binGroup, 1, 6))) + getBase64Code(getBase64Index(str_slice($binGroup, 7, 12))) + getBase64Code(getBase64Index(str_slice($binGroup, 13, 18))) + getBase64Code(getBase64Index(str_slice($binGroup, 19, 24)));
}

// 将6个二进制转换成 base64 编码表的索引
@function getBase64Index($bin) {
	@return map-get($indexMap, $bin);
}